.card-container {
    height: 20rem;
    width: 20rem;

    border: 1px solid #d5d5d5;

    cursor: pointer;

    .icon {
        text-align: center;
        width: 100%;
        padding-top: 2rem;
    }

    .icon-color {
        color: #d5d5d5;
    }

    .txt {
        text-align: center;
        font-size: 3rem;

        margin-top: 3rem;
    }
}